<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Izmijenite ugovor":"Ugovor"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="450px">
    <mat-grid-tile>
      <div class="controles-container">
      <mat-form-field>
          <input [readonly]="true" formControlName="sifra" matInput placeholder="Šifra ugovora: *" [ngModel]="x">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
      <mat-form-field>
          <input formControlName="number" matInput placeholder="Broj ugovora: *">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="contrName" matInput placeholder="Naziv ugovora: *">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="client" placeholder="Klijent: *">
          <mat-option>/</mat-option>
            <ng-container *ngFor="let client of getclientsService.array">
              <mat-option value="{{client.$key}}">{{client.name}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="startContrDate" matInput [matDatepicker]="picker" placeholder="Datum početka: *">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="service.form.controls['startContrDate'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="finishContrDate" matInput [matDatepicker]="picker1" placeholder="Datum završetka: *">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="service.form.controls['finishContrDate'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Potvrdi</button>
          <button mat-raised-button color="warn" (click)="onClear()">Ukloni</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
