<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Izmijenite nalog":"Serviseri"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
      <mat-form-field>
          <input [readonly]="true" formControlName="sifra" matInput placeholder="Šifra servisera: *" [ngModel]="x">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Ime i prezime: ">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="odjel" placeholder="Odjel: ">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of getdepartmentsService.array">
              <mat-option value="{{department.$key}}">{{department.departmentName}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Potvrdi</button>
          <button mat-raised-button color="warn" (click)="onClear()">Ukloni</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
