<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Izmijenite nalog":"Novi nalog"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list id="demo" cols="1" rowHeight="1050px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input [readonly]="true" formControlName="sifra" matInput placeholder="Radni nalog br:">
          </mat-form-field>
          <mat-form-field>
          <input formControlName="caseName" matInput placeholder="Nazive CASE-a: *">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="client" placeholder="Klijent: *">
            <mat-option>/</mat-option>
            <ng-container *ngFor="let client of getclientsService.array">
              <mat-option value="{{client.$key}}">{{client.name}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="contracts" placeholder="Ugovor br: *">
            <mat-option>/</mat-option>
            <ng-container *ngFor="let contract of contractsService.array">
              <mat-option value="{{contract.$key}}">{{contract.number}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="maintainer" placeholder="Serviser: ">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let maintainer of getmaintainersService.array">
              <mat-option value="{{maintainer.$key}}">{{maintainer.fullName}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Odjel: ">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of getdepartmentsService.array">
              <mat-option value="{{department.$key}}">{{department.departmentName}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
          <mat-form-field>
          <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Datum intervencije/instalacije: *">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="service.form.controls['startDate'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
        <input formControlName="startTime" matInput [ngxTimepicker]="picker1" placeholder="Vrijeme početka servisiranja: *" style="">
          <ngx-material-timepicker #picker1></ngx-material-timepicker>
          <mat-error *ngIf="service.form.controls['startTime'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
        <input formControlName="finishTime" matInput [ngxTimepicker]="picker2" placeholder="Vrijeme završetka servisiranja: *">
          <ngx-material-timepicker #picker2></ngx-material-timepicker>
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Opis zahtjeva: *"></textarea>

        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="remark" placeholder="Napomena:"></textarea>
        </mat-form-field>
        <div id="demo" class="add-bottom-padding">
          <mat-radio-group formControlName="serviceType" class="mat-subheading-2">Intervencija izvršena:
            <mat-radio-button value="1">Po prijavi</mat-radio-button>
            <mat-radio-button value="2">Preventivno</mat-radio-button>
            <mat-radio-button value="3">Po ugovoru</mat-radio-button>
          </mat-radio-group>
        </div>
        <div id="demo" class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Ugovorni naručitelj</mat-checkbox>
          <mat-error *ngIf="service.form.controls['isPermanent'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </div>
        <div id="demo" class="add-bottom-padding">
          <mat-checkbox formControlName="isReplaceable">Ostavljen zamjenski uređaj</mat-checkbox>
          <div class="add-bottom-padding">
        </div>
        <div class="mat-subheading-2">Prioritet:
          <mat-slider  min="1" max="10" step="1"></mat-slider>
        </div>

        <div class="mat-subheading-2">Dnevnica:
          <mat-form-field class="dnev">
            <input [(ngModel)]="model.Dnevnica"formControlName="dnevnica" matInput placeholder="Broj dnevnica:">
          </mat-form-field>
          ×
         <mat-select class="dnevnica" formControlName="dnevnica" placeholder="Cijena: ">
            <mat-option>/</mat-option>
            <ng-container *ngFor="let wage of getwagepriceService.array">
              <mat-option value="{{wage.$key}}">{{wage.price1}} KM</mat-option>
            </ng-container>
          </mat-select>
          =
          <h4 class="align-right" *ngFor="let wage of getwagepriceService.array">
              <p class="align-right">{{wage.price1 * model.Dnevnica}} KM</p>
            </h4>
        </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Potvrdi</button>
          <button mat-raised-button color="warn" (click)="onClear()">Ukloni</button>
          <button [useExistingCss]="true" printSectionId="demo" mat-raised-button ngxPrint><span class="material-icons">print</span>Printaj nalog</button>
        </div>
</form>
