<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Izmijenite nalog":"Gorivo"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile>
      <div class="controles-container">
      <mat-form-field>
          <input [readonly]="true" formControlName="sifra" matInput placeholder="Šifra : *"  [ngModel]="x">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="fuelType" matInput placeholder="Vrsta goriva: ">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="price" matInput placeholder="Cijena po litru: ">
          <mat-error> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="date" matInput [matDatepicker]="picker1" placeholder="Datum : *">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="service.form.controls['date'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="dateEdit" matInput [matDatepicker]="picker2" placeholder="Datum ažuriranja: *">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="service.form.controls['dateEdit'].errors?.required"> Ovo polje je obavezno!</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Potvrdi</button>
          <button mat-raised-button color="warn" (click)="onClear()">Ukloni</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

