/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

div.container{
  margin: 0px 40px;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}
.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container>*{
  width: 100%;
}
.add-bottom-padding{
  padding-bottom: 10px;
}
mat-radio-group mat-radio-button{
  margin-left: 13px;
}

.button-row button{
  margin:5px;
}
.button-print button{
  margin-right: 15px;
}
.dnev{
  width: 15%;
}
 .dnevnica {
  max-width: 80px !important;
}
.align-right {
  text-align: right;
  margin: 0px 7px;
  display: inline;
}
snack-bar-container.success{
  background-color: #5cb85b;
  color: #fff;
}
snack-bar-container.warn{
  background-color: #ff0000;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}

.hide{
  display: none;
}
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}
.search-div{
  margin: 10px;
}
  .search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
    .search-form-field div.mat-form-field-underline{
      display: none;
    }
    .search-form-field div.mat-form-field-infix{
      border-top: 0px;
    }
    .search-form-field div.mat-form-field-wrapper{
      padding-bottom: 0px;
    }
    .search-form-field div.mat-form-field-suffix button{
      height: 32px;
      width: 32px;
    }
    .timepicker-overlay {
      z-index: 10000000 !important;
  }

  .timepicker-backdrop-overlay {
      z-index: 10000000 !important;
  }

  .btn-dialog-close{
    width: 27px;
    min-width: 0px !important;
    height: 30px;
    padding: 0px !important;
  }
  .confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #131313;
  display: flex;
}
.confirm-dialog-container #close-icon:hover{
  cursor: pointer;
  }
  .confirm-dialog-container #no-button{
    height: 50px;
    width: 50%;
    background-color: #3f51b5;
    color:white;
    border-radius: 0px;
    }
.confirm-dialog-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #yes-button{
  height: 50px;
  width: 50%;
  background-color: #fff;
  color: black;
  border-radius: 0px;
}
.confirm-dialog-container span.content-span{
  padding: 35px 16px;
  text-align: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.priority{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
}
html,
body{
  height: 100%;
}
.slider{
  right: -2.5cm;
}
.mat-subheading-2{
  right: -2.5cm;
}
.stretch-badge > .mat-badge-content {
  width: 60px;
  border-radius: 2px;
  right: unset !important;
  background: #5cb85b;
}
.material-icons{
  margin-right: 10px;
  font-size: 17px;
}
.sifrarnik{
  margin-right: 10px;
  font-size: 17px;
}
.wage-card{
  max-width: 200px;
  max-height: 200px;
}
@media print {
  #print-section {
    overflow: auto !important;
    position: relative;
  }
  html, body {
    border: 1px solid white;
    height: 99%;
    page-break-after: avoid !important;
    page-break-before: avoid !important;
 }
 .print-display-none,
 .print-display-none * {
   display: none !important;
 }
 .print-visibility-hide,
 .print-visibility-hide * {
   visibility: hidden !important;
 }
 .printme,
 .printme * {
   visibility: visible !important;
 }
 .printme {
   position: absolute;
   left: 0;
   top: 0;
 }
}


.example-card {
    max-width: 352px;
    background-color:#3f51b5;
  }
  .center-content{
    text-align: -webkit-center;
    margin-top: 5cm;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    margin-top: 10px;
  }
  .mat-card-title{
    margin-left: 3cm;
    color:white;
  }
  .mat-card-subtitle{
    margin-left: 3cm;
    color: white;
  }
  .mat-button{
    margin-top: 10px;
    width: 100%;
    color: #3f51b5;
    background-color:white;
    height: 40px;
  }
  .login-class{
      justify-content: center;
      padding: 5cm;
      margin-left: 10cm;
  }

